*.user
*.suo
*.cache
[Bb]in
[Dd]ebug*/
obj/
.vs/
[Rr]elease*/
TestResults
*.log
*.VisualState.xml
TestResult.xml
packages/*
nuget/*.nupkg
.idea/
paket-files
.fake/
.ionide/
github_token
/.paket/load/
