version 7.1.5

framework: netstandard2.0
storage: none
strategy: max

source https://api.nuget.org/v3/index.json

nuget CommandLineParser ~> 2.7
nuget System.ComponentModel.Composition ~> 4.7
nuget Namotion.Reflection ~> 1.0

group Library
    framework: netstandard2.0
    lowest_matching: true
    storage: none
    strategy: min

    source https://api.nuget.org/v3/index.json

    nuget System.Resources.ResourceManager ~> 4.3

group Test
    framework: netcoreapp3.1
    storage: none
    strategy: max

    source https://api.nuget.org/v3/index.json

    nuget Microsoft.NET.Test.Sdk ~> 16.6
    nuget Moq ~> 4.14
    nuget NUnit ~> 3.12
    nuget NUnit3TestAdapter ~> 3.16
    nuget Newtonsoft.Json ~> 12.0

// [ FAKE GROUP ]
group Build
    framework: net6.0
    storage: none
    strategy: max

    source https://api.nuget.org/v3/index.json

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Paket
    nuget Fake.Api.GitHub
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile