framework: net461
version 5.120.0 --force-nuget --nuget-source=\\nuget.sc.local\NuGet.Packages\packages
source \\nuget.sc.local\NuGet.Packages\packages

nuget CommandLineParser 1.9.71
nuget Microsoft.AspNet.WebApi.Client 5.2.3
nuget Microsoft.AspNet.WebApi.Core 5.2.3
nuget Newtonsoft.Json 6.0.8
nuget NUnit ~> 3.2
nuget vswhere 2.4.1
