type file
id TSClientGen
version 5.0.0
authors Smartcat
projectUrl https://github.com/smartcatai/ts-client-gen
licenseUrl https://github.com/smartcatai/ts-client-gen/blob/develop/LICENSE.txt
description Tool to generate TypeScript client for the asp.net web api
developmentDependency true
dependencies
  TSClientGen.Contract ~> 5.0.0
  TSClientGen.Extensibility ~> 5.0.0
files
  bin\*.* ==> tools
  !bin\*.vshost.*
  !bin\*.xml