type file
id TSClientGen
version 5.1.0
authors Smartcat
projectUrl https://github.com/smartcatai/ts-client-gen
licenseUrl https://github.com/smartcatai/ts-client-gen/blob/develop/LICENSE.txt
description Tool to generate TypeScript client for the asp.net web api
developmentDependency true

// TODO: migrate to <PackAsTool>True</PackAsTool> when target netcoreapp
files
    bin/net472 ==> tools