type project
include-referenced-projects true
include-pdbs true
projectUrl http://gitlab.sc.local/commontools/TSClientGen
description Атрибуты для разметки методов и моделей для генерации по ним  WEB API клиента на TypeScript