type file
id TSClientGen.NetFramework
version 5.3.0
authors Smartcat
projectUrl https://github.com/smartcatai/ts-client-gen
licenseUrl https://github.com/smartcatai/ts-client-gen/blob/develop/LICENSE.txt
description Tool to generate TypeScript client for asp.net web api
developmentDependency true

files
    bin/net472 ==> tools